body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", sans-serif;
  font-size: 17px;
  line-height: 17px;
  font-weight: 400;
  color: #ffffff;
  text-transform: none;
  font-style: normal;
  background-color: #94c818;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

header {
  background-color: rgba(243, 247, 248, 0.5);
}

main,
.breadcrumbs-catalog a {
  color: #000000;
}

.site-title {
  font-style: italic;
  font-size: 16px;
  color: #ee3643;
}

.header-number {
  font-size: 21px;
  color: #ee3643;
}

article,
.contacts,
.login-button,
.registration-button {
  color: #000000;
}

.main-navigation,
.header-top-panel {
  background-color: #32425c;
}

.header-top-panel {
  line-height: 18px;
}

/* .site-navigation {
  list-style: none;

}
*/

.main-navigation a,
.header-top-panel a,
ul a,
article a,
section a,
p a {
  color: #ffffff;
}

.header-address {
  font-size: 14px;
  color: #32425c;
  font-style: normal !important;
  line-height: 24px;
}

address + ul  {
  color: #eaa133;
  font-size: 21px;
  line-height: 21px;
}



h2 {
  font-size: 30px;
  text-transform: uppercase;
  line-height: 30px;
}

h2 ~ p {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.partner {
  font-size: 18px;
  line-height: 20px;
}

.main-button-company,
.main-button-email {
  font-size: 14px;
  line-height: 18px;
}

.footer-top {
  background-color: #32425c;
  font-size: 18px !important;
  line-height: 24px;
}

.footer-bottom {
  background-color: #293449;
  font-size: 16px;
  line-height: 18px;
}

.footer-navigation {
  font-size: 18px;
}

.footer-line-2 a,
p a {
  color: #ffd180;
}

.footer-address {
  font-style: normal !important;
}

.modal-map,
.modal-window {
  display: none;
}

.logged a{
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.personal-navigation a{
  color: #32425c;
  text-decoration: underline;
}

.breadcrumbs-catalog {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.manufacturer-catalog-choice,
.supply-catalog-choice {
font-family: "PT Sans", sans-serif;
font-size: 15px;
text-transform: uppercase;
line-height: 20px !important;
}

h3:first-child {
  font-size: 17px;
  font-weight: bold;
  line-height: 30px;
}

.filter-show {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 18px;
}

h4 {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
}

.strike {
  text-decoration: line-through;
  color: #999999;
}

.buy-button {
  font-family: "PT Sans", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
}

.modalwindow-catalog {
  display: none;
}
